:root {
    /* 品牌色 */
    --color_brand_100: #f4faff;
    --color_brand_200: #d9f0ff;
    --color_brand_300: #91D5FF;
    --color_brand_400: #69C0FF;
    --color_brand_500: #5BACFC;
    --color_brand_600: #3089F0;
    --color_brand_700: #096DD9;
    --color_brand_800: #0050B3;
    --color_brand_900: #003A8C;
    --color_brand_1000: #002766;
    /* 红色 */
    --color_red_100: #fff9f9;
    --color_red_200: #fef0f0;
    --color_red_300: #FFA39E;
    --color_red_400: #FF7875;
    --color_red_500: #ff5255;
    --color_red_600: #f54137;
    --color_red_700: #CF1322;
    --color_red_800: #A8071A;
    --color_red_900: #820014;
    --color_red_1000: #5C0011;
    /* 绿色 */
    --color_green_100: #f8fefd;
    --color_green_200: #e6faf8;
    --color_green_300: #87E8DE;
    --color_green_400: #5CDBD3;
    --color_green_500: #36CFC9;
    --color_green_600: #13C2C2;
    --color_green_700: #08979C;
    --color_green_800: #006D75;
    --color_green_900: #00474F;
    --color_green_1000: #002329;
    /* 蓝色 */
    --color_blue_100: #f4fbff;
    --color_blue_200: #e3f4ff;
    --color_blue_300: #ADDCFF;
    --color_blue_400: #85C6FF;
    --color_blue_500: #66b3ff;
    --color_blue_600: #3089F0;
    --color_blue_700: #1E68C9;
    --color_blue_800: #104BA3;
    --color_blue_900: #06327D;
    --color_blue_1000: #031F57;
    /* 橙色 */
    --color_orange_100: #FFFEFB;
    --color_orange_200: #FFF8EA;
    --color_orange_300: #FFD591;
    --color_orange_400: #FFC069;
    --color_orange_500: #ffa442;
    --color_orange_600: #FF921E;
    --color_orange_700: #D46B08;
    --color_orange_800: #AD4E00;
    --color_orange_900: #873800;
    --color_orange_1000: #612500;
    /* 灰色 */
    --color_gray_100: #FAFBFC;
    --color_gray_200: #D7DEE5;
    --color_gray_300: #C8D0D9;
    --color_gray_400: #B0B7BF;
    --color_gray_500: #7E858C;
    --color_gray_600: #4C5259;
    --color_gray_700: #0F1A26;
    --color_gray_800: #0F1A26;
    --color_gray_900: #0F1A26;
    --color_gray_1000: #0F1A26;
    /* 阴影 */
    --box_shadow: 0 2.5px 10px 0 rgba(0, 0, 0, 0.11);
}